* {
  font-family: inherit;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-bottom: 2rem;
}

.form__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 1rem;
  margin-bottom: 1rem;
  font-family: inherit;
  text-align: left;
}

.form__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: inherit;
  display: block;
  width: 200px;
}

.form__control input {
  height: 20px;
  font: inherit;
  font-weight: 550;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #000;
  width: 450px;
  background-color: inherit;
}

.form__control input:hover {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #BBB;
  border-width: 2px;
}

.form__control input:focus {
  outline:none;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #BBB;
  border-width: 2px;
  border-color: #007099;
  color: #007099;
}


.new-flashcard__actions {
  display: flex;
  /* flex-direction: column; */
  justify-items: space-between;
  font-family: inherit;
  text-align: right;

}

label {
  font-family: inherit;
  width: 400px;
}

.title {
  font-size:2rem;
  font-weight: 900;
  text-align: left;
  width: 450px;
  align-self: center;
  padding: 10px 10px 10px 10px;
}

.buttons {
  margin: 1rem 1rem 1rem 1rem;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 5px;
}

.invalid {
  background-color: salmon;
  color: red;
}