.flash-card {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  color: #000;
  align-items: center;
  scroll-snap-align: center;
  width: 100%;
  max-width: 600px;
  /* height: 30%; */
  /* min-height: 18rem; */
  /* padding: 1.5rem 1rem; */
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  position: relative;
  border: 8px solid #9c3848;
  box-shadow: 0.5rem 0.5rem 0 black;
}

.date-added {
  align-self: flex-end;
  padding-top: 3rem;
  color: #000;
  font-family: inherit;
  font-weight: 400;
}

h2 {
  font-family: inherit;
}

.fun-button {
  background-color: #a7bed3;
  box-shadow: inset 0 0 1px 0 #074697;
  transition: all ease-out 0.2s;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.fun-button:hover {
  box-shadow: inset 0 0 10rem 0 #074697;
  color: #ffffff;
}

.topbuttons {
  display: flex;
  align-self: flex-end;
}

.close-flash {
  align-self: flex-end;
  width: 35px;
  height: 35px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
